<html>
<head>
</head>
<body>

	<a href="/">Go back</a>
	<br><br>
		
	<form action="/registerAuth" method="POST">
		<input type="text" name = "username" placeholder="username" required/> </br>
		<input type="password" name = "password" placeholder="password" required/></br>
		<input type="submit" value = Register />
		{% if error %}
			<p class="error"><strong>Error:</strong> {{error}}</p>
		{% endif %}
	</form>

	<a href="/customer-login">Already have an account? Log in</a>
</body>
</html>
