<!DOCTYPE html>
<html>

<head>
    
</head>

<body>
    <h1>Welcome home {{fname}}</h1>
    <a href="/customer-flights">My Flights</a>
    <ul>
        <li><a href="/customer-flights">Previous Flights</a></li>
        <li><a href="/customer-flights">Upcoming Flights</a></li>
    </ul>
    <a href="/customer-search">Search/Purchase Flights</a><br>
    <a href="/customer-review">Rate a previous flight</a><br>
    <a href="/customer-spending">View Spending History</a><br>



    <br><br><br>

    <a href="customer-logout">Logout</a>
</body>

</html>