<html>
<head>
</head>
<body>
	<h1>Welcome {{username}}</h1>
	<a href="/customer_home">View Flights</a> </br>
	<a href="/customer_home">Create New Flight</a></br>
	<a href="/customer_home">Create New Airplane</a></br>
	<a href="/customer_home">Schedule Maintenance</a></br>
	<a href="/customer_home">Frequent Customers</a>
	<a href="/customer_home">View Flight Ratings</a>
	<a href="/customer_home">View Earned Revenue</a>
	<a href="/customer_home">Log out</a>

</body>
</body>


</html>
